<form name ="queryForm">
  <div class="btn-group" id="distance" role="group" aria-label="...">
    <button type="button" ng-click="queryUsers()" ng-model="formData.distance" uib-btn-radio=15 class="btn btn-default">Near</button>
    <button type="button" ng-click="queryUsers()" ng-model="formData.distance" uib-btn-radio=100 class="btn btn-default">Far</button>
    <button type="button" ng-click="queryUsers()" ng-model="formData.distance" uib-btn-radio=1000 class="btn btn-default">All</button>
  </div>
</form>


<div ng-repeat="coder in queryResults track by $index" class="panel panel-default">
  <div class="panel-body">
    {{ coder.username }}
    {{ coder.place }}
  </div>
</div>